@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Yeseva+One&display=swap");

body {
    margin: 0;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: hsla(223, 52%, 64%, 1);
    background: linear-gradient(90deg, hsla(223, 52%, 64%, 1) 0%, hsla(20, 74%, 53%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(223, 52%, 64%, 1) 0%, hsla(20, 74%, 53%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(223, 52%, 64%, 1) 0%, hsla(20, 74%, 53%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#748FD3", endColorstr="#E06B30", GradientType=1);
}


*::-webkit-scrollbar {
    width: 0 !important
}

* {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    user-select: none;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: transparent;
}