@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Yeseva+One&display=swap");

body {
    margin: 0;
}

html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: rgb(4,6,74);
    background: linear-gradient(180deg, rgba(4,6,74,1) 0%, rgba(129,133,241,1) 100%);
}


*::-webkit-scrollbar {
    width: 0 !important
}

* {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    user-select: none;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-tap-highlight-color: transparent;
}